.saved-trips-container {
  height: 90vh;
  margin: 0px auto; /* Center the container */
  padding: 20px;
  overflow-x: auto;
}

::-webkit-scrollbar {
  display: none;
}

.saved-trips-container h2 {
  color: white;
  margin: 20px 20px;
}

.trip-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
