.trip-con {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  @media screen and (max-width: 470px) {
    .trip-con{
      max-width: 90%
    }
    h2 {
      font-size: 1.5rem;
    }
    .trip-info {
      grid-template-columns: 1fr;
    }
  }
  